/* CSS RESET by ANDY */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: #fbbf24;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Importing font */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  border: 1px solid #111827;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-weight: 600;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
}

.button:not(.default) {
  border: none;
  outline: none;
}

.two-one {
  background-color: #111827;
  color: #fff;
  border-radius: 0.25rem;
}

.two-one:hover {
  background-color: #1f2937;
}

.two-one:active {
  background-color: #111827;
}

.two-one:focus-within {
  outline: 2px solid #fff;
}

.one-two {
  display: flex;
  align-items: center;
}

.button-text {
  display: block;
  width: 100%;
}

.arrow-right {
  height: 2rem;
  width: 2rem;
}

.two-two:hover .arrow-right {
  transform: translateX(0.25rem);
  transition: transform 150ms ease 100ms;
}

@keyframes pulse {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(0.25rem);
  }
}

.three-two:hover .arrow-right {
  animation: 200ms ease 150ms infinite alternate pulse;
}

.three-two:active .arrow-right {
  animation: none;
}
