.three-one {
  background-color: #111827;
  color: #fff;
  border-radius: 0.25rem;
}

.three-one:hover {
  color: #1f2937;
  background-color: #fff;
}

.three-one:active {
  color: #111827;
  background-color: #f3f4f6;
}

.three-one:focus-within {
  outline: 2px solid #111827;
}

/* cubic bezier functions */
/* https://cubic-bezier.com/#.17,.67,.83,.67 */

.one-two {
  transition: color ease-in 150ms, background-color ease-in 150ms;
}

.three-two:hover .arrow-right {
  --ease-spring-2: linear(
    0,
    0.007,
    0.029 2.2%,
    0.118 4.7%,
    0.625 14.4%,
    0.826 19%,
    0.902,
    0.962,
    1.008 26.1%,
    1.041 28.7%,
    1.064 32.1%,
    1.07 36%,
    1.061 40.5%,
    1.015 53.4%,
    0.999 61.6%,
    0.995 71.2%,
    1
  );
  animation: 200ms ease 150ms infinite alternate pulse;
  /* animation: 200ms var(--ease-spring-2) 150ms infinite alternate pulse; */
}
